<h2>Login</h2>
<div class="error" style="color: red;">
  {{error.msg}}
</div>
<form id="login" action="/user/login" method="POST">
  <input id="input-email" type="text" name="email" placeholder="email" />
  <input id="input-password" type="text" name="password" placeholder="password" />
  <input type="submit" />
</form>


